---
import { SITE, NAVIGATION } from "src/alkaline.config";

import { ClientRouter } from "astro:transitions";

import "@styles/global.css";

import GoogleFonts from "@components/Astro/head/GoogleFonts.astro";
import DynamicMetaTags from "@components/Astro/head/DynamicMetaTags.astro";
import SocialMeta from "@components/Astro/head/SocialMeta.astro";
// import ResourceLinks from "@components/Astro/head/ResourceLinks.astro";
import Nav from "@components/Astro/Nav.astro";
import Title from "@components/Astro/Title.astro";
import BackToTop from "@components/Astro/BackToTop.astro";
import Footer from "@components/Astro/Footer.astro";

import logo from "@assets/logo.webp";

interface Props {
	title?: string;
	author?: string;
	description?: string;
	keywords?: string[];
	ogImage?: string;
	publishedTime?: string;
	modifiedTime?: string;
	canonicalUrl?: string;
	faviconSrc?: string;
	showTitleBackground?: boolean;
	class?: string | undefined;
}

const {
	title = SITE.title,
	author = SITE.author,
	description = SITE.description || SITE.title,
	faviconSrc = SITE.faviconSrc,
	keywords = SITE.keywords,
	ogImage = SITE.ogImage,
	canonicalUrl = SITE.canonicalUrl,
	showTitleBackground = SITE.showTitleBackground || false,
	publishedTime = "",
	modifiedTime = "",
	class: className = "",
} = Astro.props;

const metaTags = [
	{ name: "viewport", content: "width=device-width, initial-scale=1.0" },
	{ name: "generator", content: "Astro" },
	{ name: "sitemap", content: "/sitemap-index.xml" },
	{
		name: "robots",
		content: `index, ${SITE.disableIndexing ? "noindex, nofollow" : "index, follow"}`,
	},
];
const fonts = SITE.fonts || [];
const options = {
	"rounded-theme": true,
};

// @ts-ignore
const headerLogo = typeof logo === "undefined" ? null : logo; // guard against no logo
---

<html lang="en">
	<head>
		<DynamicMetaTags metaTags={metaTags} />
		<GoogleFonts fonts={fonts} />
		<SocialMeta
			title={title}
			author={author}
			ogImage={ogImage || SITE.ogImage}
			description={description}
			keywords={keywords}
			canonicalURL={canonicalUrl}
			faviconSrc={faviconSrc}
			publishedTime={publishedTime}
			modifiedTime={modifiedTime}
		/>
		<ClientRouter />
		{/*<ResourceLinks />*/}
	</head>
	<body class:list={[options, className]}>
		<div class="flex flex-col min-h-screen mt-0 pt-0">
			{
				headerLogo ? (
					<Title
						title={title}
						showTitleBackground={showTitleBackground}
						logoImg={headerLogo}
					/>
				) : (
					<Title title={title} showTitleBackground={showTitleBackground} />
				)
			}
			<Nav links={NAVIGATION} />
			<main class="flex-grow">
				<!-- content -->
				<slot />
			</main>
			<Footer
				author={SITE.author}
				portfolio={SITE.socials.find((social) => social.platform === "web")
					?.url}
			/>
		</div>
		<BackToTop />
	</body>
</html>
