---
// Layout component that wraps around pages and blog posts, providing consistent structure and styling. you can read more about it here: https://docs.astro.build/en/guides/layouts/

import { COLLECTION_NAMES_LIST } from "src/alkaline.config";
import { SITE } from "src/alkaline.config";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Pagination from "@components/Astro/Pagination.astro";
import Layout from "@layouts/Layout.astro";
import Tag from "@components/Astro/utils/Tag.astro";
import Heading from "@components/Astro/Heading.astro";
import Author from "@components/Astro/Author.astro";

interface Props {
  posts: any;
  page?: any;
  collectionName: (typeof COLLECTION_NAMES_LIST)[number] | string | undefined;
  title?: string | undefined;
  description?: string;
  filter?: (typeof COLLECTION_NAMES_LIST)[number] | string | undefined;
  includeDrafts?: boolean;
  subtitle?: string;
  class?: string | undefined;
}

const {
  posts,
  page,
  collectionName = COLLECTION_NAMES_LIST[0],
  title,
  subtitle,
  description = title,
  class: className,
} = Astro.props;

const options = { "rounded-theme": true };

const sortedPosts = posts?.sort(
  (a: any, b: any) =>
    new Date(b.data?.pubDatetime || 0).valueOf() -
    new Date(a.data?.pubDatetime || 0).valueOf()
);
---

<Layout title={title} description={description} class={className}>
  {subtitle && <Heading text={subtitle} showHeadingBackground />}
  {
    subtitle?.toLowerCase() !== "blog examples" && (
      <span class="text-center block">
        <a href="/blog"> Back to all blog entires</a>
      </span>
    )
  }
  <section class="md:max-w-3xl md:mx-auto mt-0">
    {!posts?.length && <p class="text-theme-primary">No posts found.</p>}
    {
      posts?.map((post: any) => (
        <article class="mb-10" id={post.id}>
          <a
            href={`/${post.collection || collectionName}/${post.id}`}
            class="no-underline flex flex-row items-center mb-2 group"
          >
            {post.data.cover && (
              <div class="w-[4.5rem] h-[4.5rem] mr-4 mb-2 flex-shrink-0">
                <Image
                  src={post.data.cover.src}
                  alt={post.data.cover.alt || post.data.title || "Post Image"}
                  format="webp"
                  width={128}
                  height={128}
                  class:list={[
                    "object-cover w-full h-full border border-theme-accent group-hover:rotate-6 transition-transform duration-500 m-0",
                    options,
                  ]}
                  loading="lazy"
                />
              </div>
            )}
            <h2 class="">{post.data.title}</h2>
          </a>
          <div class="flex flex-wrap mt-0 mb-3">
            {post.data.tags?.map((tag: string) => (
              <Tag tag={tag} size="sm" />
            ))}
          </div>
          <p class="text-lg mb-2">
            {post.data.description}{" "}
            <a
              href={`/${post.collection || collectionName}/${post.id}`}
              class="text-theme-primary pl-2"
            >
              Read more...
            </a>
          </p>
          {post.data.modDatetime && (
            <p class="text-theme-primary font-mono text-sm">
              updated: {new Date(post.data.modDatetime).toLocaleString()}
            </p>
          )}
          <div class="border-l-4 border-theme-primary p-4 mb-3 ml-1 inline-block">
            <Icon
              name="ri:quill-pen-line"
              size="16"
              class="align-middle inline mr-0.5"
            />
            Posted by:
            <Author
              authorId={post.data.authorId || ""}
              pubDateTime={new Date(post.data.pubDatetime)}
              class="ml-0.5 mt-2 inline font-mono not-italic"
            />
          </div>
        </article>
      ))
    }
  </section>
  <div class="flex justify-center">
    {SITE.postsPerPage < page?.total && <Pagination page={page} />}
  </div>
</Layout>
